@import 'tailwindcss';

@theme {
  --color-primary: #03aac7;
  --color-primary-hover: #0396b3;
  --color-secondary: #ffffff;
  --color-secondary-hover: #0396b3;
  --color-border: #8e8e92;
  --color-text-black: #000000;
  --bg-background: #0d0e0e;
  --font-family: Pulse, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --font-size-sm: 12px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 28px;
  --font-size-3xl: 32px;
  --font-size-4xl: 36px;
  --font-size-5xl: 40px;
  --font-size-6xl: 44px;
  --font-size-7xl: 48px;
  --font-size-8xl: 52px;
  --font-size-9xl: 56px;
  --font-size-10xl: 60px;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --font-family: Pulse, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family-sans: Pulse, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family-serif: Pulse, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family-mono: Pulse, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --line-height-normal: 1;
  --line-height-medium: 1.5;
  --line-height-bold: 2;
  --line-height-black: 2.5;

  --letter-spacing-normal: 0;
  --letter-spacing-medium: 0.5;
  --letter-spacing-bold: 1;
  --letter-spacing-black: 1.5;

  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --border-radius-xl: 24px;
  --border-radius-2xl: 32px;
  --border-radius-3xl: 40px;
  --border-radius-4xl: 48px;
}

@layer components {
  .input {
    border-radius: var(--border-radius-md);
    border: 1px solid var(--color-border);
    padding: 13px 16px;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);
    background-color: var(--color-secondary);
    color: var(--color-text-black);
  }

  .btn {
    border-radius: var(--border-radius-md);
    padding: 13px 16px;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:hover {
      background-color: var(--color-primary-hover);
      color: var(--color-secondary);
    }
  }

  .btn-secondary {
    border-radius: var(--border-radius-md);
    padding: 13px 16px;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:hover {
      background-color: var(--color-secondary-hover);
      color: var(--color-secondary);
    }
  }
}

:root {
  color: var(--color-secondary);
  font-family: var(--font-family);
  background-color: var(--bg-background);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-normal);
  font-family: var(--font-family);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
